:root {
  --sdeal-dark-blue: #173441;
  --sdeal-dark-orange: #e2603f;
  --sdeal-yellow: #f5ae4c;
  --sdeal-orange: #e2603f;
  --sdeal-orange-hover: #d55a38;
  --sdeal-orange-light: #f5ae4c;
}

.country-flag {
  height: 22px;
  margin-right: 8px;
  vertical-align: middle;
}

.w3-ul.no-lines li a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.w3-ul.no-lines li a:hover {
  color: var(--sdeal-dark-orange) !important;
} 